.cart-container{
    background: white;
    padding: 16px 0;
    border-radius: 8px;
    max-width: 1200px;
    margin: 0px auto;
}
/* Giỏ hàng */
.cart-items-section {
    flex: 2;
    margin-right: 20px;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.divider-line {
  flex: 1;
  border: none;
  border-top: 2px solid #707070;
  margin: 0 10px;
  height: 0;
}

.cart-title {
  font-size: 14px;
  color: #555;
}

.cart-items-container {
    max-height: 490px;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
}

.product-card-class-special {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 15px 0;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
}

.product-card-class-special:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.product-image-cart,
.product-details-cart,
.product-price-cart,
.product-attribute,
.product-price-quantity {
    flex: 1;
}
/* Phần hình ảnh sản phẩm */
.product-image-cart {
    max-width: 120px;
    display: flex;
    align-items: center;
}

.attribute, .quantity-container-cart{
    display: flex;
    align-items: center;

}

.product-image-detail {
    width: 80px;
    height: 100px !important;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.product-image-detail:hover {
    transform: scale(1.05);
}

/* Phần chi tiết sản phẩm */
.product-details-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
    max-width: 180px;
}
.product-details-cart span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 180px;
}

.product-name-cart {
    font-weight: 800;
    white-space: nowrap;
    min-width: 150px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #000000;
}


/* Thuộc tính */
.product-attribute {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
    max-width: 150px;
}

.section-title {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    color: #555;
}

.product-price-cart {
    max-width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    color: #000000;
}

.product-price-cart strong {
    font-weight: 800;
    padding-right: 5px;
}

.product-total-cart {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #ff4400;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}
.product-card-link:hover {
  color: inherit;
    text-decoration: none;
}

/* Icon remove */
.remove-btn {
    position: absolute;
    top: 5px; /* Cách 5px từ trên */
    right: 5px;
    z-index: 10;
}

.btn-remove {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

.btn-remove:hover {
    color: red;
}


/* Bảng thông tin đơn hàng */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.divider-line {
    border: none;
    border-top: 1px solid #555;
    margin: 10px 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* Không có giỏ hàng */
.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.empty-cart-icon img {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.empty-cart-title {
    font-size: 32px;
    color: #000;
    font-weight: 600;
    margin: 10px 0;
}

.empty-cart-subtitle {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.btn-no-cart-user {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #000 !important;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-no-cart-user:hover {
    background-color: #000000;
    border: 1px solid #000;
    color: #ffffff

}

/* Tổng giá trị */
.cart-summary {
    padding: 15px 20px;
    border-top: 1px solid #ddd;
    text-align: right;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
}

.summary-content {
    display: flex;
    align-items: center;
}

.summary-title {
    font-size: 16px;
    margin-right: 10px;
    color: #333;
}

.summary-price {
    font-size: 25px;
    font-weight: 900;
    color: #ff4400;
}

/* nút thanh toán */
.container-checkout {
    margin-top: 20px;
}

.custom-btn-cod {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.custom-btn-cod:hover {
    border: 1px solid #000;
    color: #000000;
    background-color: #ffffff;
}
#select-all-label-text {
    color: black; /* Màu mặc định */
}

#select-all-label-text.warning {
    color: red; /* Màu đỏ cho thông báo khi có sản phẩm vượt quá số lượng kho */
}
