.container{
    background: white;
    border-radius: 8px;
    max-width: 1400px;
    margin: 0px auto;
}

html, body {
    font-family: 'Lora', serif;  /* Dùng Lora, font serif nhẹ nhàng */
    font-weight: 300;  /* Nét thanh mảnh */
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

/* Tổng quan cho alert */
#alert {
    position: fixed;
    top: 80px;
    right: 20px;
    max-width: 300px;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s ease-out;
    z-index: 1000;
}

/* Hiệu ứng trượt vào từ bên phải */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Alert thành công màu xanh lá */
.alert-success {
    background-color: #28a745;
    border: 1px solid #218838;
}

.alert-fail {
    background-color: #333;
    border: 1px solid #222;
}

.alert {
    position: relative;
    z-index: 1200;
    margin-top: 10px;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    outline: 2px solid rgba(0, 0, 0, 0.1);
    outline-offset: -2px;
}

.btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff3b3b;
    color: white;
    text-decoration: none;
    border: 1px solid  #ff3b3b;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-danger:hover {
    background-color: white;
    color: #ff3b3b;
    outline: 1px solid #ff3b3b;
    outline-offset: -2px;
}


.btn-primary:active {
    transform: scale(0.98) ;
}

.btn-info {
    background-color: rgb(2, 140, 172) ;
    color: white ;
    border: 1px solid rgb(2, 140, 172) ;
    border-radius: 5px ;
    transition: all 0.3s ease ;
}

.btn-info:hover {
    background-color: rgb(255, 255, 255) ;
    color: rgb(2, 140, 172) ;
    outline: 2px solid rgb(2, 140, 172) ;
    outline-offset: -2px;
}

.btn-info:active {
    transform: scale(0.98) ;
}

.custom-btn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    margin-right: 10px;
    padding: 10px;
    border-radius: 2px;
    transition: all 0.3s ease;
    font-size: 14px;
}

.custom-btn:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.custom-buy {
    background-color: #000000;
    color: white;
    margin-right: 10px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 2px;
    transition: all 0.3s ease;
    font-size: 14px;
    box-shadow: 0 0 0 0 transparent;
}

.custom-buy:hover {
    background-color: #ffffff;
    border: 1px solid #000;
    color: rgb(0, 0, 0);
}

.text-title-prodict-list {
    font-size: 2rem;
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
}

.custom-product-card-link {
    text-decoration: none !important;
}

.btn:active {
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #000 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) !important;
    transform: translateY(2px) !important;
}

.btn-white {
    background-color: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0) ;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase ;
    text-decoration: none ;
    border: 1px solid black ;
    border-radius: 5px ;
    cursor: pointer ;
    transition: all 0.3s ease ;
}

.btn-white:hover {
    background-color: white ;
    color: #ffffff ;
    outline: 2px solid rgba(0, 0, 0, 0.1);
    outline-offset: -2px;
}

/* Nút "Liên Hệ" */
.icon-chat-contact {
    border: 3px solid #000;
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px 2px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: white;
    cursor: pointer;
}

.icon-chat-contact:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Corm Contacts */
.contact-section {
    display: none;
    position: fixed;
    bottom: 0;
    left: 89%;
    transform: translateX(-50%);
    width: 20%;
    max-height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 2px 4px #000000;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    right: 20px; /* Di chuyển form sang bên phải */
    transform: translateX(0) translateY(100%); /* Đảm bảo form nằm dưới cùng khi ẩn */
}

/* Khi form liên hệ được hiển thị */
.contact-section.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(0) translateY(0); /* Di chuyển form lên trên cùng */
}

.label-contacts {
    margin-left: 8px;
    font-size: 10px;
    color: #555;
}

.form-control-contacts {
    width: 100%;
    font-size: 10px;
    padding: 5px;
    box-shadow: 0px 1px 2px #9c9c9c;
    background-color: #ffffff;
    border: none;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control-contacts:focus {
    border-color: #000000;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(37, 37, 37, 0.5);
    outline: none;
}

.form-control-contacts::placeholder {
    color: #aaa;
    font-style: italic;
}

.form-control-contacts:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    border-color: #ced4da;
}


.contact-section .form-control {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.contact-section .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.contact-section button {
    padding: 5px 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-section .btn-secondary {
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
}

.contact-section .btn-secondary:hover {
    background-color: #5a6268;
}

.contact-section #closeContactForm {
    background-color: transparent;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color 0.3s ease;
}

.contact-section #closeContactForm:hover {
    color: #ff0000;
}

.contact-section.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

/* Tiêu Đề */
.button-header-contacts {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.button-header-contacts button {
    background-color: black;
    color: white;
    border: none;
    font-size: 8px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 75px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.button-header-contacts button i {
    font-size: 8px;
}

.button-header-contacts button .fa-star {
    font-size: 8px;
}

.btn-contacts {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5px;
    right: 20px;
}

.btn-contacts i {
    margin-left: 2px;
    font-size: 12px;
}

.btn-contacts:hover {
    color: #fff;
    background-color: #000000;
    border: 1px solid #000;
    cursor: pointer;
}
