/* button title */
.button-header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.button-header button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 75px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-header button i {
    font-size: 18px;
}

.button-header button .fa-star {
    font-size: 18px;
}

.btn-primary {
    background-color: black !important;
    color: white !important;
    padding: 10px 20px;
    font-size: 14px !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    border: 1px solid black !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    color: white;
}

.btn-primary:hover {
    background-color: white !important;
    color: black !important;
    outline: 2px solid rgba(0, 0, 0, 0.1);
    outline-offset: -2px;
}


.btn-primary:active{
    transform: scale(0.98) !important;
}

.btn-info {
    background-color: rgb(2, 140, 172) !important;
    color: white !important;
    padding: 10px 20px;
    font-size: 14px !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    border: 1px solid rgb(2, 140, 172) !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

.btn-info:hover {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(2, 140, 172) !important;
    outline: 2px solid rgb(2, 140, 172) !important;
    outline-offset: -2px;
}

.btn-info:active{
    transform: scale(0.98) !important;
}

.custom-alert {
    position: fixed;
    top: 50px;
    right: 10px;
    width: 450px;
    z-index: 1050;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: slideIn 3s ease-out;
    pointer-events: none;
}
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}
.custom-alert.fade {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
}
